@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E1E5EE;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    place-content: space-between;
    background-color: #2A324B;
    padding: 1rem 2.5em;
    margin: 0rem;
    font-size: 1em;
    font-weight: 700;
    width: 100%;

}

.class {
    text-decoration: none;
    color: #fff;
    padding: 1rem;

}

div{
    flex-wrap: wrap;
}


.content{
    background-color: #FFF;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}


.content h3 {
    color: #2A324B;
}

.content a {
    color: #58699D;

}

